html, body {
}

body {
  touch-action: none;
  color: #333;
  margin: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --color-1: #E4E1D2;
  --color-2: #534737;
  --color-3: #A65814;
  --color-4: #59321B;
  --color-5: #B88359;

  display: flex;
  align-items: stretch;
  justify-content: stretch;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
body.dragging {
  cursor: grabbing !important;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea, .button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 4px 0 0.5em 0;
  box-sizing: border-box;
  border: none;
}

input {
  border-radius: 4px;
  background-color: lightgray;
  padding: 10px 8px;
}

input:disabled {
  color: #ccc;
}

button, .button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

button:disabled, .button:disabled {
  color: #999;
}

button:not(:disabled):active, .button:not(:disabled):active {
  background-color: #ddd;
}

button:focus, .button:focus {
  border-color: #666;
}

svg {
  width: 100%;
  height: 100%;
}

button:hover, .button:hover {
  border: 1px solid var(--color-4);
}

button:disabled:hover {
  cursor: default;
}


.controls {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 4px;
  margin: 8px 0;
}

.controls fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 2;
  align-items: center;
  justify-content: stretch;
}

.controls fieldset input {
  margin: 0;
}

input[type="checkbox"] {
  padding: 0;
  margin: 0;
}
